* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #121212; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px auto;
}
.container {
    background-color: #1D293D;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    height: 450;
    width: 450px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
.container .rating-Page img {
    background: #333c47;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: orange;
    padding: 10px;
}
.container h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px;

}
.container p {
    line-height: 1.5;
    color: #aaa;
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.container ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    gap: 10px;
}
.container .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2d2d3f;
    color: #aaa;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background-color: #fd7e14;
}
.btn:focus {
    background-color: #fff;

}
.container .btn-submit {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    background-color:#fd7e14;
    margin-bottom: 20px;
    cursor: pointer;
}
.container .btn-submit:hover {
    background-color:white;
}
.hidden{
    display: none;
}
.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}
.thank-you p.first{
    color: #fd7e14;
    background-color: hsl(213, 78%, 22%);
    border-radius: 20px;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}
.thank-you h2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.thank-you p {
    line-height: 1.5;
    color: #aaa;
}
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
